# Importing Death factors Dataframe

## EDA

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ls

2000-2020 new car registration by country.xlsx
C:\Users\vonate\Desktop\pollution_death.xlsx
final_project_test1.ipynb
final_project_test2.ipynb
newcarseurope.csv
number-of-deaths-by-risk-factor.csv

In [3]:
deaths_factors = pd.read_csv ('number-of-deaths-by-risk-factor.csv')

In [4]:
deaths_factors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 32 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Entity                                                                                  6468 non-null   object
 1   Code                                                                                    5488 non-null   object
 2   Year                                                                                    6468 non-null   int64
 3   Deaths - Unsafe water source - Sex: Both - Age: All Ages (Number)                       6468 non-null   float64
 4   Deaths - Unsafe sanitation - Sex: Both - Age: All Ages (Number)                         6468 non-null   float64
 5   Deaths - No access to handwashing facility - Sex: Both - Age: All Ages (Number)         6468 non-null   float64
 6   Deaths - Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)  6468 non-null   float64
 7   Deaths - Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)               6468 non-null   float64
 8   Deaths - Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)                6468 non-null   float64
 9   Deaths - Child wasting - Sex: Both - Age: All Ages (Number)                             6468 non-null   float64
 10  Deaths - Child stunting - Sex: Both - Age: All Ages (Number)                            6468 non-null   float64
 11  Deaths - Low birth weight for gestation - Sex: Both - Age: All Ages (Number)            6468 non-null   float64
 12  Deaths - Secondhand smoke - Sex: Both - Age: All Ages (Number)                          6468 non-null   float64
 13  Deaths - Alcohol use - Sex: Both - Age: All Ages (Number)                               6468 non-null   float64
 14  Deaths - Drug use - Sex: Both - Age: All Ages (Number)                                  6468 non-null   float64
 15  Deaths - Diet low in fruits - Sex: Both - Age: All Ages (Number)                        6468 non-null   float64
 16  Deaths - Diet low in vegetables - Sex: Both - Age: All Ages (Number)                    6468 non-null   float64
 17  Deaths - Unsafe sex - Sex: Both - Age: All Ages (Number)                                6468 non-null   float64
 18  Deaths - Low physical activity - Sex: Both - Age: All Ages (Number)                     6468 non-null   float64
 19  Deaths - High fasting plasma glucose - Sex: Both - Age: All Ages (Number)               6468 non-null   float64
 20  Deaths - High total cholesterol - Sex: Both - Age: All Ages (Number)                    1561 non-null   float64
 21  Deaths - High body-mass index - Sex: Both - Age: All Ages (Number)                      6468 non-null   float64
 22  Deaths - High systolic blood pressure - Sex: Both - Age: All Ages (Number)              6468 non-null   float64
 23  Deaths - Smoking - Sex: Both - Age: All Ages (Number)                                   6468 non-null   float64
 24  Deaths - Iron deficiency - Sex: Both - Age: All Ages (Number)                           6468 non-null   float64
 25  Deaths - Vitamin A deficiency - Sex: Both - Age: All Ages (Number)                      6468 non-null   float64
 26  Deaths - Low bone mineral density - Sex: Both - Age: All Ages (Number)                  6468 non-null   float64
 27  Deaths - Air pollution - Sex: Both - Age: All Ages (Number)                             6468 non-null   float64
 28  Deaths – Outdoor air pollution (all ages) (IHME)                                        6467 non-null   float64
 29  Deaths - Diet high in sodium - Sex: Both - Age: All Ages (Number)                       6468 non-null   float64
 30  Deaths - Diet low in whole grains - Sex: Both - Age: All Ages (Number)                  6468 non-null   float64
 31  Deaths - Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)                6468 non-null   float64
dtypes: float64(29), int64(1), object(2)
memory usage: 1.6+ MB

In [5]:
deaths_factors.head()

,Entity,Code,Year,Deaths - Unsafe water source - Sex: Both - Age: All Ages (Number),Deaths - Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number),Deaths - Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Child wasting - Sex: Both - Age: All Ages (Number),...,Deaths - High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Smoking - Sex: Both - Age: All Ages (Number),Deaths - Iron deficiency - Sex: Both - Age: All Ages (Number),Deaths - Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Air pollution - Sex: Both - Age: All Ages (Number),Deaths – Outdoor air pollution (all ages) (IHME),Deaths - Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,7554.049543,5887.747628,5412.314513,22388.497233,3221.138842,156.097553,22778.849249,...,28183.983348,6393.667372,726.431294,9344.131952,374.844056,26598.006727,4383.83,2737.197934,11381.377345,7299.867330
1,Afghanistan,AFG,1991,7359.676749,5732.770160,5287.891103,22128.758206,3150.559597,151.539851,22292.691113,...,28435.397514,6429.253320,739.245799,9330.182378,379.854237,26379.532218,4426.36,2741.184956,11487.832390,7386.764303
2,Afghanistan,AFG,1992,7650.437822,5954.804987,5506.657363,22873.768789,3331.349048,156.609194,23102.197940,...,29173.611201,6561.054957,873.485341,9769.844533,388.130434,27263.127914,4568.91,2798.560245,11866.235572,7640.628526
3,Afghanistan,AFG,1993,10270.731383,7986.736613,7104.620351,25599.756284,4477.006100,206.834451,27902.669960,...,30074.760910,6731.972560,1040.047422,11433.769491,405.577931,30495.561499,5080.29,2853.301679,12335.961682,7968.311853
4,Afghanistan,AFG,1994,11409.177112,8863.010065,8051.515953,28013.167200,5102.622054,233.930571,32929.005932,...,30809.491169,6889.328118,1101.764645,12936.955863,415.349195,33323.161401,5499.23,2880.025765,12672.950191,8244.368430

### Deleting all columns instead of air pollution

In [6]:
deaths_factors.drop(['Deaths - Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)','Deaths - Diet low in whole grains - Sex: Both - Age: All Ages (Number)','Deaths - High body-mass index - Sex: Both - Age: All Ages (Number)','Deaths - High total cholesterol - Sex: Both - Age: All Ages (Number)',
                     'Deaths - High fasting plasma glucose - Sex: Both - Age: All Ages (Number)','Deaths - Low physical activity - Sex: Both - Age: All Ages (Number)','Deaths - Unsafe sex - Sex: Both - Age: All Ages (Number)','Deaths - Diet low in vegetables - Sex: Both - Age: All Ages (Number)',
                     'Deaths - Diet low in fruits - Sex: Both - Age: All Ages (Number)','Deaths - Drug use - Sex: Both - Age: All Ages (Number)','Deaths - Alcohol use - Sex: Both - Age: All Ages (Number)','Deaths - Alcohol use - Sex: Both - Age: All Ages (Number)',
                     'Deaths - Secondhand smoke - Sex: Both - Age: All Ages (Number)','Deaths - Low birth weight for gestation - Sex: Both - Age: All Ages (Number)','Deaths - Child stunting - Sex: Both - Age: All Ages (Number)',
                     'Deaths - Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)',
                     'Deaths - No access to handwashing facility - Sex: Both - Age: All Ages (Number)','Deaths - Unsafe sanitation - Sex: Both - Age: All Ages (Number)',
                     'Deaths - Unsafe water source - Sex: Both - Age: All Ages (Number)','Deaths - Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)', 'Deaths - Child wasting - Sex: Both - Age: All Ages (Number)'
                    , 'Deaths - High systolic blood pressure - Sex: Both - Age: All Ages (Number)', 'Deaths - Smoking - Sex: Both - Age: All Ages (Number)', 'Deaths - Iron deficiency - Sex: Both - Age: All Ages (Number)',
                    'Deaths - Vitamin A deficiency - Sex: Both - Age: All Ages (Number)', 'Deaths - Low bone mineral density - Sex: Both - Age: All Ages (Number)','Deaths - Diet high in sodium - Sex: Both - Age: All Ages (Number)'], axis = 1, inplace = True)

In [7]:
deaths_factors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 6 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Entity                                                                                  6468 non-null   object
 1   Code                                                                                    5488 non-null   object
 2   Year                                                                                    6468 non-null   int64
 3   Deaths - Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)  6468 non-null   float64
 4   Deaths - Air pollution - Sex: Both - Age: All Ages (Number)                             6468 non-null   float64
 5   Deaths – Outdoor air pollution (all ages) (IHME)                                        6467 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 303.3+ KB

In [8]:
deaths_factors

,Entity,Code,Year,Deaths - Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number),Deaths - Air pollution - Sex: Both - Age: All Ages (Number),Deaths – Outdoor air pollution (all ages) (IHME)
0,Afghanistan,AFG,1990,22388.497233,26598.006727,4383.83
1,Afghanistan,AFG,1991,22128.758206,26379.532218,4426.36
2,Afghanistan,AFG,1992,22873.768789,27263.127914,4568.91
3,Afghanistan,AFG,1993,25599.756284,30495.561499,5080.29
4,Afghanistan,AFG,1994,28013.167200,33323.161401,5499.23
...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,7613.561005,9593.033931,2053.58
6464,Zimbabwe,ZWE,2014,7429.446352,9387.193480,2030.92
6465,Zimbabwe,ZWE,2015,7267.029297,9189.336702,1994.91
6466,Zimbabwe,ZWE,2016,7134.595677,9092.577378,2030.88
6467,Zimbabwe,ZWE,2017,6982.337249,9020.941349,2112.19

### Checking the nulls and duplicates

In [9]:
deaths_factors.isnull().sum()

Entity                                                                                      0
Code                                                                                      980
Year                                                                                        0
Deaths - Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)      0
Deaths - Air pollution - Sex: Both - Age: All Ages (Number)                                 0
Deaths – Outdoor air pollution (all ages) (IHME)                                            1
dtype: int64

In [10]:
deaths_factors.duplicated().sum()

0

### Lower casing the columns names

In [11]:
deaths_factors.columns= deaths_factors.columns.str.lower()

In [12]:
deaths_factors

,entity,code,year,deaths - household air pollution from solid fuels - sex: both - age: all ages (number),deaths - air pollution - sex: both - age: all ages (number),deaths – outdoor air pollution (all ages) (ihme)
0,Afghanistan,AFG,1990,22388.497233,26598.006727,4383.83
1,Afghanistan,AFG,1991,22128.758206,26379.532218,4426.36
2,Afghanistan,AFG,1992,22873.768789,27263.127914,4568.91
3,Afghanistan,AFG,1993,25599.756284,30495.561499,5080.29
4,Afghanistan,AFG,1994,28013.167200,33323.161401,5499.23
...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,7613.561005,9593.033931,2053.58
6464,Zimbabwe,ZWE,2014,7429.446352,9387.193480,2030.92
6465,Zimbabwe,ZWE,2015,7267.029297,9189.336702,1994.91
6466,Zimbabwe,ZWE,2016,7134.595677,9092.577378,2030.88
6467,Zimbabwe,ZWE,2017,6982.337249,9020.941349,2112.19

### Moving countries column to axis

In [13]:
deaths_factors.index=deaths_factors.iloc[:,0]

In [14]:
deaths_factors.rename_axis(None,inplace=True)

In [15]:
deaths_factors.drop(['entity',], axis = 1, inplace = True)

In [16]:
deaths_factors.head()

,code,year,deaths - household air pollution from solid fuels - sex: both - age: all ages (number),deaths - air pollution - sex: both - age: all ages (number),deaths – outdoor air pollution (all ages) (ihme)
Afghanistan,AFG,1990,22388.497233,26598.006727,4383.83
Afghanistan,AFG,1991,22128.758206,26379.532218,4426.36
Afghanistan,AFG,1992,22873.768789,27263.127914,4568.91
Afghanistan,AFG,1993,25599.756284,30495.561499,5080.29
Afghanistan,AFG,1994,28013.167200,33323.161401,5499.23

### Removing the countries we don't need

In [17]:
pd.set_option('display.max_rows', None)

In [18]:
new_death_factor=deaths_factors.drop(['Afghanistan','Albania','Algeria', 'American Samoa', 'Andean Latin America','Andorra','Angola','Antigua and Barbuda',
                    'Argentina','Armenia','Australasia','Australia','Azerbaijan','Bahamas','Bahrain','Bangladesh','Barbados','Belarus','Belize','Benin','Bermuda','Bhutan','Bolivia','Bosnia and Herzegovina',
                     'Botswana','Brazil','Brunei','Burkina Faso','Burundi','Cambodia','Cameroon','Canada','Cape Verde','Caribbean','Central African Republic',
                     'Central Asia','Central Europe','Central Europe, Eastern Europe, and Central Asia','Central Latin America','Central Sub-Saharan Africa',
                    "Cote d'Ivoire",'Chad','Chile','China','Colombia','Comoros','Congo','Costa Rica','Cuba','Cyprus','Democratic Republic of Congo','Djibouti',
                    'Dominica','Dominican Republic','East Asia','Eastern Europe','Eastern Sub-Saharan Africa','Ecuador','Egypt','El Salvador','Equatorial Guinea','Eritrea','Eswatini','Ethiopia','Fiji',
                    'England','Gabon','Gambia','Georgia','Ghana','Greenland','Grenada','Guam','Guatemala','Guinea','Guinea-Bissau','Guyana','Haiti','High SDI',
                    'High-income','High-income Asia Pacific','High-middle SDI','Honduras','India','Indonesia','Iran','Iraq','Israel','Jamaica','Japan','Jordan','Kazakhstan','Kenya',
                    'Kiribati','Kuwait','Kyrgyzstan','Laos','Latin America and Caribbean','Lebanon','Lesotho','Liberia','Libya','Low SDI','Low-middle SDI','Madagascar','Malawi',
                    'Malaysia','Mali','Malta','Marshall Islands','Mauritania','Mauritius','Mexico','Micronesia (country)','Middle SDI','Moldova','Mongolia','Montenegro','Morocco','Mozambique',
                     'Myanmar','Namibia','Nepal','New Zealand','Nicaragua','Niger','Nigeria','North Africa and Middle East','North America','North Korea','North Macedonia','Northern Ireland',
                     'Northern Mariana Islands','Oman','Oceania','Pakistan','Palestine','Panama','Papua New Guinea','Paraguay','Peru',
                    'Philippines','Puerto Rico','Qatar','Russia','Rwanda','Saint Lucia','Saint Vincent and the Grenadines','Samoa','Sao Tome and Principe','Saudi Arabia','Scotland','Senegal',
                     'Serbia','Seychelles','Sierra Leone','Singapore','Solomon Islands','Somalia','South Africa','South Asia','South Korea','South Sudan','Southeast Asia','Southeast Asia, East Asia, and Oceania',
                     'Southern Latin America','Maldives','Southern Sub-Saharan Africa','Sri Lanka','Sub-Saharan Africa','Sudan','Suriname','Syria','Taiwan','Tajikistan','Thailand','Tanzania',
                    'Timor','Togo','Tonga','Trinidad and Tobago','Tropical Latin America','Tunisia','Turkey','Turkmenistan','Uganda','Ukraine','United Arab Emirates','United States','United States Virgin Islands',
                     'Uruguay','Uzbekistan','Vanuatu','Venezuela','Vietnam','Wales','Western Europe','Western Sub-Saharan Africa','World','Yemen','Zambia','Zimbabwe'])

new_death_factor

In [19]:
new_death_factor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 812 entries, Austria to United Kingdom
Data columns (total 5 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   code                                                                                    812 non-null    object
 1   year                                                                                    812 non-null    int64
 2   deaths - household air pollution from solid fuels - sex: both - age: all ages (number)  812 non-null    float64
 3   deaths - air pollution - sex: both - age: all ages (number)                             812 non-null    float64
 4   deaths – outdoor air pollution (all ages) (ihme)                                        812 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 38.1+ KB

### Rename column names

In [20]:
pollution_death=new_death_factor.rename(columns=({'code': 'country code',
                                  'year': 'year',
                                  'deaths - household air pollution from solid fuels - sex: both - age: all ages (number)': 'air pollution deaths from solid fuels',
                                  'deaths - air pollution - sex: both - age: all ages (number)':'air pollution total deaths',
                                  'deaths – outdoor air pollution (all ages) (ihme)':'outdoor air pollution deaths'}))

pollution_death

In [21]:
pollution_death.to_excel(r'C:\Users\vonate\Desktop\pollution_death.xlsx', index = False)

In [22]:
ls

2000-2020 new car registration by country.xlsx
C:\Users\vonate\Desktop\pollution_death.xlsx
final_project_test1.ipynb
final_project_test2.ipynb
newcarseurope.csv
number-of-deaths-by-risk-factor.csv

### Round the columns

pollution_death.round({'air pollution deaths from solid fuels': 0,
                        'air pollution total deaths': 0,
                       'outdoor air pollution deaths':0})

pollution_death.to_excel(r'/Users/vonate/Documents/Github/Ironhack/final_project/data', index = False)

In [23]:
pollution_death_filtered = pollution_death[pollution_death['year'] >= 2005]

pollution_death_filtered

# Importing number of cars by country (thousand units)

In [30]:
data = pd.read_excel (r'/Users/vonate/Documents/Github/Ironhack/final_project/data/Air pollution data/car_registration.xlsx') 
car_registration = pd.DataFrame(data, columns= ['country', 'country code', 'year', 'thousand units'])
print (car_registration)

            country country code  year  thousand units
0           Iceland          ISL  2005         187.000
1           Iceland          ISL  2006         197.000
2           Iceland          ISL  2009         205.000
3           Iceland          ISL  2010         205.000
4           Iceland          ISL  2011         206.110
5           Iceland          ISL  2007         208.000
6           Iceland          ISL  2008         210.000
7           Iceland          ISL  2012         210.070
8           Iceland          ISL  2013         213.110
9           Iceland          ISL  2014         217.450
10          Iceland          ISL  2016         226.090
11          Iceland          ISL  2015         226.320
12          Iceland          ISL  2017         228.300
13          Iceland          ISL  2018         230.460
14          Iceland          ISL  2019         232.580
15       Luxembourg          LUX  2005         307.000
16       Luxembourg          LUX  2006         315.000
17       Luxembourg          LUX  2007         322.000
18       Luxembourg          LUX  2008         329.000
19       Luxembourg          LUX  2009         332.000
20       Luxembourg          LUX  2010         337.000
21       Luxembourg          LUX  2011         346.000
22       Luxembourg          LUX  2012         355.850
23       Luxembourg          LUX  2013         363.250
24       Luxembourg          LUX  2014         372.830
25       Luxembourg          LUX  2015         380.860
26       Luxembourg          LUX  2016         383.760
27       Luxembourg          LUX  2017         388.360
28       Luxembourg          LUX  2018         392.870
29       Luxembourg          LUX  2019         397.300
30          Estonia          EST  2005         493.800
31          Estonia          EST  2007         523.800
32          Estonia          EST  2009         545.700
33          Estonia          EST  2008         551.800
34          Estonia          EST  2010         552.700
35          Estonia          EST  2006         554.000
36          Estonia          EST  2011         574.020
37          Estonia          EST  2012         602.130
38           Latvia          LVA  2011         612.320
39           Latvia          LVA  2012         618.270
40          Estonia          EST  2013         628.500
41           Latvia          LVA  2013         634.600
42           Latvia          LVA  2010         636.660
43           Latvia          LVA  2019         641.340
44           Latvia          LVA  2018         647.250
45          Estonia          EST  2014         653.000
46           Latvia          LVA  2017         653.270
47           Latvia          LVA  2014         657.800
48           Latvia          LVA  2016         659.430
49          Estonia          EST  2015         676.600
50           Latvia          LVA  2015         679.050
51          Estonia          EST  2016         682.430
52          Estonia          EST  2017         694.050
53          Estonia          EST  2018         705.430
54          Estonia          EST  2019         716.590
55           Latvia          LVA  2005         742.450
56           Latvia          LVA  2006         822.010
57           Latvia          LVA  2009         904.310
58           Latvia          LVA  2007         904.870
59           Latvia          LVA  2008         932.830
60         Slovenia          SVN  2005         964.780
61         Slovenia          SVN  2006         985.570
62         Slovenia          SVN  2007        1020.130
63         Slovenia          SVN  2008        1051.840
64         Slovenia          SVN  2009        1065.930
65         Slovenia          SVN  2010        1068.930
66         Slovenia          SVN  2013        1071.920
67         Slovenia          SVN  2012        1073.970
68         Slovenia          SVN  2011        1074.110
69         Slovenia          SVN  2014        1076.960
70         Slovenia          SVN  2015        1087.690
71         Slovenia          SVN  2016        1092.270
72         Slovenia          SVN  2017        1097.880
73         Slovenia          SVN  2018        1103.380
74         Slovenia          SVN  2019        1108.770
75        Lithuania          LTU  2019        1157.650
76        Lithuania          LTU  2018        1187.460
77        Lithuania          LTU  2014        1205.670
78        Lithuania          LTU  2017        1217.880
79        Lithuania          LTU  2015        1244.060
80        Lithuania          LTU  2016        1248.930
81         Slovakia          SVK  2005        1304.000
82         Slovakia          SVK  2006        1334.000
83          Croatia          HRV  2005        1385.000
84         Slovakia          SVK  2007        1434.000
85          Croatia          HRV  2006        1436.000
86          Croatia          HRV  2012        1445.220
87          Croatia          HRV  2013        1448.299
88        Lithuania          LTU  2005        1455.280
89          Croatia          HRV  2014        1474.495
90          Croatia          HRV  2007        1491.000
91          Croatia          HRV  2016        1494.714
92          Croatia          HRV  2017        1498.328
93          Croatia          HRV  2015        1499.802
94          Croatia          HRV  2018        1501.870
95          Croatia          HRV  2019        1505.341
96          Croatia          HRV  2010        1515.000
97          Croatia          HRV  2011        1518.000
98          Croatia          HRV  2009        1533.000
99          Croatia          HRV  2008        1535.000
100        Slovakia          SVK  2008        1545.000
101       Lithuania          LTU  2007        1587.900
102        Slovakia          SVK  2009        1589.000
103       Lithuania          LTU  2006        1592.240
104         Ireland          IRL  2005        1662.160
105        Slovakia          SVK  2010        1669.000
106       Lithuania          LTU  2008        1671.070
107       Lithuania          LTU  2010        1691.860
108       Lithuania          LTU  2009        1695.290
109       Lithuania          LTU  2011        1713.280
110        Slovakia          SVK  2011        1749.000
111       Lithuania          LTU  2012        1753.410
112        Bulgaria          BGR  2006        1768.000
113         Ireland          IRL  2006        1778.860
114       Lithuania          LTU  2013        1808.980
115        Slovakia          SVK  2012        1826.000
116         Ireland          IRL  2010        1872.720
117         Ireland          IRL  2012        1882.550
118        Slovakia          SVK  2013        1882.580
119         Ireland          IRL  2007        1882.900
120         Ireland          IRL  2011        1887.810
121         Ireland          IRL  2009        1902.430
122         Ireland          IRL  2013        1910.170
123         Ireland          IRL  2008        1924.280
124         Ireland          IRL  2014        1943.870
125        Slovakia          SVK  2014        1952.000
126         Denmark          DNK  2005        1971.000
127         Ireland          IRL  2015        1985.130
128         Ireland          IRL  2016        1990.450
129         Ireland          IRL  2017        2005.950
130         Ireland          IRL  2018        2021.140
131         Denmark          DNK  2006        2026.000
132          Norway          NOR  2005        2029.000
133         Ireland          IRL  2019        2036.020
134        Slovakia          SVK  2015        2037.770
135        Slovakia          SVK  2016        2065.930
136         Denmark          DNK  2007        2075.000
137        Bulgaria          BGR  2007        2082.000
138          Norway          NOR  2006        2085.000
139         Denmark          DNK  2008        2105.000
140        Slovakia          SVK  2017        2110.110
141         Denmark          DNK  2009        2126.000
142        Slovakia          SVK  2018        2153.400
143          Norway          NOR  2007        2155.000
144         Denmark          DNK  2010        2169.000
145        Slovakia          SVK  2019        2195.820
146          Norway          NOR  2008        2198.000
147         Denmark          DNK  2011        2203.000
148         Denmark          DNK  2012        2240.000
149          Norway          NOR  2009        2243.000
150         Denmark          DNK  2013        2279.790
151          Norway          NOR  2010        2305.000
152         Denmark          DNK  2014        2321.170
153        Bulgaria          BGR  2008        2366.000
154          Norway          NOR  2011        2370.000
155         Denmark          DNK  2015        2392.080
156         Denmark          DNK  2016        2400.660
157         Finland          FIN  2005        2414.480
158         Denmark          DNK  2017        2426.050
159          Norway          NOR  2012        2433.000
160         Finland          FIN  2009        2449.600
161         Finland          FIN  2008        2449.720
162         Denmark          DNK  2018        2450.930
163         Denmark          DNK  2019        2475.310
164         Finland          FIN  2007        2480.880
165         Finland          FIN  2010        2486.280
166          Norway          NOR  2013        2487.350
167         Finland          FIN  2006        2489.290
168        Bulgaria          BGR  2009        2502.000
169         Finland          FIN  2011        2532.500
170        Bulgaria          BGR  2005        2538.000
171          Norway          NOR  2014        2539.550
172         Finland          FIN  2012        2560.190
173         Finland          FIN  2013        2575.950
174          Norway          NOR  2015        2592.390
175         Finland          FIN  2014        2595.870
176        Bulgaria          BGR  2010        2602.000
177         Finland          FIN  2015        2612.920
178          Norway          NOR  2016        2618.040
179         Finland          FIN  2016        2622.700
180         Finland          FIN  2017        2634.930
181         Finland          FIN  2018        2646.910
182          Norway          NOR  2017        2651.950
183         Finland          FIN  2019        2658.650
184          Norway          NOR  2018        2685.180
185        Bulgaria          BGR  2011        2694.000
186          Norway          NOR  2019        2717.750
187        Bulgaria          BGR  2012        2806.814
188         Hungary          HUN  2005        2889.000
189        Bulgaria          BGR  2013        2910.235
190         Hungary          HUN  2006        2954.000
191         Hungary          HUN  2011        2967.810
192         Hungary          HUN  2010        2984.060
193         Hungary          HUN  2012        2986.030
194         Hungary          HUN  2007        3012.000
195         Hungary          HUN  2009        3013.720
196        Bulgaria          BGR  2014        3013.863
197         Hungary          HUN  2013        3040.730
198         Hungary          HUN  2008        3055.430
199         Hungary          HUN  2014        3107.700
200        Bulgaria          BGR  2015        3162.037
201        Bulgaria          BGR  2016        3177.945
202         Hungary          HUN  2016        3186.940
203         Hungary          HUN  2015        3196.860
204         Hungary          HUN  2017        3206.270
205         Romania          ROU  2006        3221.000
206         Hungary          HUN  2018        3225.220
207        Bulgaria          BGR  2017        3231.875
208         Hungary          HUN  2019        3243.790
209        Bulgaria          BGR  2018        3284.726
210        Bulgaria          BGR  2019        3336.520
211         Romania          ROU  2005        3364.000
212         Romania          ROU  2007        3554.000
213     Switzerland          CHE  2005        3906.000
214     Switzerland          CHE  2006        3946.000
215         Czechia          CZE  2005        3959.000
216     Switzerland          CHE  2007        4002.580
217         Romania          ROU  2008        4027.000
218     Switzerland          CHE  2008        4031.210
219     Switzerland          CHE  2009        4051.830
220         Czechia          CZE  2006        4109.000
221     Switzerland          CHE  2010        4119.680
222          Sweden          SWE  2005        4154.000
223         Austria          AUT  2005        4157.000
224        Portugal          PRT  2005        4200.000
225          Sweden          SWE  2006        4202.000
226         Austria          AUT  2006        4205.000
227     Switzerland          CHE  2011        4209.670
228         Romania          ROU  2009        4245.000
229         Austria          AUT  2007        4246.000
230          Sweden          SWE  2007        4258.000
231          Sweden          SWE  2008        4279.000
232         Czechia          CZE  2007        4280.000
233         Austria          AUT  2008        4285.000
234        Portugal          PRT  2006        4290.000
235     Switzerland          CHE  2012        4300.040
236          Sweden          SWE  2009        4301.000
237          Greece          GRC  2005        4303.130
238         Romania          ROU  2010        4320.000
239         Romania          ROU  2011        4335.000
240          Sweden          SWE  2010        4335.000
241         Austria          AUT  2009        4360.000
242     Switzerland          CHE  2013        4366.900
243        Portugal          PRT  2007        4379.000
244          Sweden          SWE  2011        4401.000
245        Portugal          PRT  2008        4408.000
246         Czechia          CZE  2008        4423.000
247     Switzerland          CHE  2014        4430.380
248         Czechia          CZE  2009        4435.000
249         Austria          AUT  2010        4441.000
250          Sweden          SWE  2012        4447.000
251        Portugal          PRT  2009        4457.000
252        Portugal          PRT  2010        4480.000
253        Portugal          PRT  2013        4480.000
254         Romania          ROU  2012        4487.000
255          Sweden          SWE  2013        4495.470
256         Czechia          CZE  2010        4496.000
257        Portugal          PRT  2014        4496.000
258        Portugal          PRT  2012        4497.000
259     Switzerland          CHE  2015        4503.870
260         Austria          AUT  2011        4513.000
261        Portugal          PRT  2011        4522.000
262     Switzerland          CHE  2016        4527.480
263          Greece          GRC  2006        4543.020
264     Switzerland          CHE  2017        4566.000
265         Czechia          CZE  2011        4583.000
266         Austria          AUT  2012        4584.000
267          Sweden          SWE  2014        4585.520
268        Portugal          PRT  2016        4589.040
269        Portugal          PRT  2015        4593.160
270     Switzerland          CHE  2018        4603.740
271        Portugal          PRT  2017        4608.190
272        Portugal          PRT  2018        4626.960
273     Switzerland          CHE  2019        4640.740
274         Austria          AUT  2013        4641.308
275        Portugal          PRT  2019        4645.360
276          Sweden          SWE  2015        4669.060
277          Sweden          SWE  2016        4679.290
278         Romania          ROU  2013        4693.650
279         Austria          AUT  2014        4694.921
280         Czechia          CZE  2012        4699.000
281          Sweden          SWE  2017        4712.420
282          Sweden          SWE  2018        4744.890
283         Austria          AUT  2015        4748.048
284          Sweden          SWE  2019        4776.710
285         Austria          AUT  2016        4777.048
286          Greece          GRC  2007        4798.530
287         Austria          AUT  2017        4813.460
288         Czechia          CZE  2013        4820.299
289         Austria          AUT  2018        4849.143
290         Austria          AUT  2019        4884.113
291         Romania          ROU  2014        4905.630
292         Belgica          BEL  2005        4914.000
293         Belgica          BEL  2006        4929.000
294         Czechia          CZE  2014        4937.206
295         Belgica          BEL  2007        5006.000
296          Greece          GRC  2008        5023.940
297         Belgica          BEL  2008        5087.000
298          Greece          GRC  2014        5102.200
299          Greece          GRC  2015        5104.910
300          Greece          GRC  2013        5124.210
301          Greece          GRC  2009        5131.960
302         Romania          ROU  2015        5153.180
303          Greece          GRC  2016        5153.470
304         Czechia          CZE  2015        5158.516
305         Belgica          BEL  2009        5160.000
306          Greece          GRC  2012        5167.560
307         Czechia          CZE  2016        5175.674
308          Greece          GRC  2017        5182.350
309          Greece          GRC  2011        5203.590
310         Romania          ROU  2016        5204.650
311          Greece          GRC  2018        5210.650
312          Greece          GRC  2010        5216.870
313          Greece          GRC  2019        5238.380
314         Czechia          CZE  2017        5247.626
315         Belgica          BEL  2010        5279.000
316         Romania          ROU  2017        5313.640
317         Czechia          CZE  2018        5318.138
318         Belgica          BEL  2011        5359.000
319         Czechia          CZE  2019        5387.240
320         Belgica          BEL  2012        5393.000
321         Romania          ROU  2018        5420.440
322         Belgica          BEL  2013        5439.295
323         Belgica          BEL  2014        5511.080
324         Romania          ROU  2019        5525.110
325         Belgica          BEL  2015        5587.415
326         Belgica          BEL  2016        5616.651
327         Belgica          BEL  2017        5659.066
328         Belgica          BEL  2018        5700.633
329         Belgica          BEL  2019        5741.368
330     Netherlands          NLD  2005        7092.000
331     Netherlands          NLD  2006        7230.000
332     Netherlands          NLD  2007        7392.000
333     Netherlands          NLD  2008        7542.000
334     Netherlands          NLD  2009        7622.000
335     Netherlands          NLD  2010        7736.000
336     Netherlands          NLD  2011        7859.000
337     Netherlands          NLD  2012        7915.610
338     Netherlands          NLD  2013        8154.000
339     Netherlands          NLD  2014        8193.000
340     Netherlands          NLD  2015        8336.000
341     Netherlands          NLD  2016        8386.710
342     Netherlands          NLD  2017        8460.060
343     Netherlands          NLD  2018        8531.940
344     Netherlands          NLD  2019        8602.380
345          Poland          POL  2005       12339.000
346          Poland          POL  2006       13384.000
347          Poland          POL  2007       14589.000
348          Poland          POL  2008       16080.000
349          Poland          POL  2009       16495.000
350          Poland          POL  2010       17240.000
351          Poland          POL  2011       17872.000
352          Poland          POL  2012       18744.000
353          Poland          POL  2013       19342.120
354          Poland          POL  2014       19978.590
355           Spain          ESP  2005       20250.000
356          Poland          POL  2015       20688.170
357           Spain          ESP  2006       21053.000
358          Poland          POL  2016       21068.720
359          Poland          POL  2017       21538.730
360           Spain          ESP  2007       21760.000
361           Spain          ESP  2009       21983.000

In [31]:
car_registration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         435 non-null    object
 1   country code    435 non-null    object
 2   year            435 non-null    int64
 3   thousand units  435 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 13.7+ KB

In [32]:
car_registration.index=car_registration.iloc[:,0]

In [33]:
car_registration.rename_axis(None,inplace=True)

In [34]:
car_registration.drop(['country'], axis = 1, inplace = True)

In [35]:
car_registration.head()

        country code  year  thousand units
Iceland          ISL  2005          187.00
Iceland          ISL  2006          197.00
Iceland          ISL  2009          205.00
Iceland          ISL  2010          205.00
Iceland          ISL  2011          206.11

In [36]:
## this moment i go to tableau to analize both dataframes
## paste some graphs from tableau
## onche we have analize the cities, im going to web scrape wikipedia so i have the modal split by the cities i want

After doing the visualizations in Tableau we focus in the capitals of the countries with best and worst air pollution and amount of cars

We are going to analize different factors to see if there are more features that affects the air pollution of this 4 countries: Germany and Italy with the worst air pollution in Europe; and Hungary and Austria with the best

The features we are going to analyze are:
- Population by country
- Modal split in the cities
- Weather

# Population

In [41]:
population = pd.read_excel (r'/Users/vonate/Documents/Github/Ironhack/final_project/data/Air pollution data/population_country.xlsx') 
population.head()

          country  population
0         Germany  83,783,942
1  United Kingdom  67,886,011
2          France  65,273,511
3           Italy  60,461,826
4           Spain  46,754,778

# Web scrapping

- We are doing web scrapping to see how the population moves in the 4 cities we are analyzing

In [42]:
from bs4 import BeautifulSoup
import re
import requests
from tqdm.notebook import tqdm
import random

In [43]:
url = "https://en.wikipedia.org/wiki/Modal_share"

In [44]:
modal_split = requests.get(url)

In [45]:
modal_split.status_code

200

In [46]:
soup=BeautifulSoup(modal_split.content,'html.parser')

In [47]:
response=requests.get(url)

In [50]:
soup = BeautifulSoup(response.text, 'html.parser')
modaltable=soup.find('table',{'class':"wikitable"})
modaltable

<table border="1" class="wikitable sortable">
<tbody><tr>
<th width="150px">Metro area</th>
<th width="75px">walking</th>
<th width="75px">cycling</th>
<th width="75px">public transport</th>
<th width="75px">private motor vehicle</th>
<th>year
</th>
<th>Survey Area
</th></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Australia" title="Australia"><img alt="Australia" class="thumbborder" data-file-height="640" data-file-width="1280" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/23px-Flag_of_Australia_%28converted%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/35px-Flag_of_Australia_%28converted%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/46px-Flag_of_Australia_%28converted%29.svg.png 2x" width="23"/></a></span> <a href="/wiki/Adelaide#Transport" title="Adelaide">Adelaide</a></td>
<td>3%</td>
<td>1%</td>
<td>11%</td>
<td>85%</td>
<td>2016<sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[4]</a></sup>
</td>
<td>GCCSA
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/United_States" title="United States"><img alt="United States" class="thumbborder" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span> <a href="/wiki/Atlanta#Transportation" title="Atlanta">Atlanta</a>
</td>
<td>1%
</td>
<td>0%
</td>
<td>3%
</td>
<td>86%
</td>
<td>2016<sup class="reference" id="cite_ref-5"><a href="#cite_note-5">[5]</a></sup>
</td>
<td>UA
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Greece" title="Greece"><img alt="Greece" class="thumbborder" data-file-height="400" data-file-width="600" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/23px-Flag_of_Greece.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/35px-Flag_of_Greece.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/45px-Flag_of_Greece.svg.png 2x" width="23"/></a></span> <a href="/wiki/Athens#Transport" title="Athens">Athens</a></td>
<td>8%</td>
<td>2%</td>
<td>37%</td>
<td>53%</td>
<td>2006 <sup class="reference" id="cite_ref-6"><a href="#cite_note-6">[6]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/New_Zealand" title="New Zealand"><img alt="New Zealand" class="thumbborder" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Flag_of_New_Zealand.svg/23px-Flag_of_New_Zealand.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Flag_of_New_Zealand.svg/35px-Flag_of_New_Zealand.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Flag_of_New_Zealand.svg/46px-Flag_of_New_Zealand.svg.png 2x" width="23"/></a></span> <a href="/wiki/Auckland#Transport" title="Auckland">Auckland</a></td>
<td>4%</td>
<td>1%</td>
<td>9%</td>
<td>85%</td>
<td>2011–2014<sup class="reference" id="cite_ref-nzdotstat.stats.govt.nz_7-0"><a href="#cite_note-nzdotstat.stats.govt.nz-7">[7]</a></sup>
</td>
<td>MUA
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/United_States" title="United States"><img alt="United States" class="thumbborder" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span> <a href="/wiki/Baltimore#Transportation" title="Baltimore">Baltimore</a>
</td>
<td>3%
</td>
<td>0%
</td>
<td>7%
</td>
<td>84%
</td>
<td>2016<sup class="reference" id="cite_ref-8"><a href="#cite_note-8">[8]</a></sup>
</td>
<td>UA
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Spain" title="Spain"><img alt="Spain" class="thumbborder" data-file-height="500" data-file-width="750" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/23px-Flag_of_Spain.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/35px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/45px-Flag_of_Spain.svg.png 2x" width="23"/></a></span> <a href="/wiki/Barcelona#Transport" title="Barcelona">Barcelona</a></td>
<td>32%</td>
<td>2%</td>
<td>39%</td>
<td>27%</td>
<td>2013<sup class="reference" id="cite_ref-9"><a href="#cite_note-9">[9]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/China" title="China"><img alt="China" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/23px-Flag_of_the_People%27s_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/35px-Flag_of_the_People%27s_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/45px-Flag_of_the_People%27s_Republic_of_China.svg.png 2x" width="23"/></a></span> <a href="/wiki/Beijing" title="Beijing">Beijing</a></td>
<td>21%</td>
<td>32%</td>
<td>26%</td>
<td>21%</td>
<td>2005/2011<sup class="reference" id="cite_ref-wc_10-0"><a href="#cite_note-wc-10">[10]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Serbia" title="Serbia"><img alt="Serbia" class="thumbborder" data-file-height="630" data-file-width="945" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Serbia.svg/23px-Flag_of_Serbia.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Serbia.svg/35px-Flag_of_Serbia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Serbia.svg/45px-Flag_of_Serbia.svg.png 2x" width="23"/></a></span> <a href="/wiki/Belgrade" title="Belgrade">Belgrade</a></td>
<td>23%</td>
<td>1%</td>
<td>49%</td>
<td>27%</td>
<td>2015
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Germany" title="Germany"><img alt="Germany" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x" width="23"/></a></span> <a href="/wiki/Berlin" title="Berlin">Berlin</a></td>
<td>30%</td>
<td>18%</td>
<td>27%</td>
<td>26%</td>
<td>2018
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Australia" title="Australia"><img alt="Australia" class="thumbborder" data-file-height="640" data-file-width="1280" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/23px-Flag_of_Australia_%28converted%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/35px-Flag_of_Australia_%28converted%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/46px-Flag_of_Australia_%28converted%29.svg.png 2x" width="23"/></a></span> <a href="/wiki/Brisbane" title="Brisbane">Brisbane</a></td>
<td>4%</td>
<td>1%</td>
<td>14%</td>
<td>81%</td>
<td>2016<sup class="reference" id="cite_ref-:1_11-0"><a href="#cite_note-:1-11">[11]</a></sup>
</td>
<td>GCCSA
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Belgium" title="Belgium"><img alt="Belgium" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/23px-Flag_of_Belgium_%28civil%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/35px-Flag_of_Belgium_%28civil%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/45px-Flag_of_Belgium_%28civil%29.svg.png 2x" width="23"/></a></span> <a href="/wiki/Brussels" title="Brussels">Brussels</a></td>
<td>25%</td>
<td>2.5%</td>
<td>28%</td>
<td>43%</td>
<td>2010<sup class="reference" id="cite_ref-brussels_12-0"><a href="#cite_note-brussels-12">[12]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Colombia" title="Colombia"><img alt="Colombia" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/23px-Flag_of_Colombia.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/35px-Flag_of_Colombia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/45px-Flag_of_Colombia.svg.png 2x" width="23"/></a></span> <a class="mw-redirect" href="/wiki/Bogota" title="Bogota">Bogota</a></td>
<td>15%</td>
<td>2%</td>
<td>64%</td>
<td>19%</td>
<td>2008<sup class="reference" id="cite_ref-wc_10-1"><a href="#cite_note-wc-10">[10]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/United_States" title="United States"><img alt="United States" class="thumbborder" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span> <a href="/wiki/Boston" title="Boston">Boston</a></td>
<td>5%</td>
<td>1%</td>
<td>14%</td>
<td>73%</td>
<td>2016<sup class="reference" id="cite_ref-13"><a href="#cite_note-13">[13]</a></sup>
</td>
<td>UA
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Hungary" title="Hungary"><img alt="Hungary" class="thumbborder" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Flag_of_Hungary.svg/23px-Flag_of_Hungary.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Flag_of_Hungary.svg/35px-Flag_of_Hungary.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Flag_of_Hungary.svg/46px-Flag_of_Hungary.svg.png 2x" width="23"/></a></span> <a href="/wiki/Budapest" title="Budapest">Budapest</a></td>
<td>32%</td>
<td>1%</td>
<td>47%</td>
<td>20%</td>
<td>2011
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Canada" title="Canada"><img alt="Canada" class="thumbborder" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/23px-Flag_of_Canada_%28Pantone%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/35px-Flag_of_Canada_%28Pantone%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/46px-Flag_of_Canada_%28Pantone%29.svg.png 2x" width="23"/></a></span> <a href="/wiki/Calgary" title="Calgary">Calgary</a>
</td>
<td>4.7%
</td>
<td>1.5%
</td>
<td>14.4%
</td>
<td>79.4%
</td>
<td>2016
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/United_States" title="United States"><img alt="United States" class="thumbborder" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span> <a href="/wiki/Chicago" title="Chicago">Chicago</a></td>
<td>3%</td>
<td>1%</td>
<td>13%</td>
<td>77%</td>
<td>2016<sup class="reference" id="cite_ref-14"><a href="#cite_note-14">[14]</a></sup>
</td>
<td>UA
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Germany" title="Germany"><img alt="Germany" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x" width="23"/></a></span> <a href="/wiki/Cologne" title="Cologne">Cologne</a></td>
<td>7%</td>
<td>15%</td>
<td>28%</td>
<td>50%</td>
<td>2013
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/United_States" title="United States"><img alt="United States" class="thumbborder" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span> <a href="/wiki/Dallas" title="Dallas">Dallas</a></td>
<td>1%</td>
<td>0%</td>
<td>2%</td>
<td>90%</td>
<td>2016<sup class="reference" id="cite_ref-15"><a href="#cite_note-15">[15]</a></sup>
</td>
<td>UA
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/South_Korea" title="South Korea"><img alt="South Korea" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/></a></span> <a href="/wiki/Daejeon" title="Daejeon">Daejeon</a></td>
<td>26%</td>
<td>2%</td>
<td>28%</td>
<td>44%</td>
<td>2012<sup class="reference" id="cite_ref-16"><a href="#cite_note-16">[16]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/India" title="India"><img alt="India" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/></a></span> <a href="/wiki/Delhi" title="Delhi">Delhi</a></td>
<td>21%</td>
<td>12%</td>
<td>48%</td>
<td>19%</td>
<td>2008/2011<sup class="reference" id="cite_ref-wc_10-2"><a href="#cite_note-wc-10">[10]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/United_States" title="United States"><img alt="United States" class="thumbborder" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span> <a href="/wiki/Detroit" title="Detroit">Detroit</a>
</td>
<td>1%
</td>
<td>0%
</td>
<td>2%
</td>
<td>92%
</td>
<td>2016<sup class="reference" id="cite_ref-17"><a href="#cite_note-17">[17]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Republic_of_Ireland" title="Republic of Ireland"><img alt="Republic of Ireland" class="thumbborder" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/23px-Flag_of_Ireland.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/35px-Flag_of_Ireland.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/46px-Flag_of_Ireland.svg.png 2x" width="23"/></a></span> <a href="/wiki/Dublin" title="Dublin">Dublin</a>
</td>
<td>18%
</td>
<td>7%
</td>
<td>15%
</td>
<td>59%
</td>
<td>2020<sup class="reference" id="cite_ref-18"><a href="#cite_note-18">[18]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Canada" title="Canada"><img alt="Canada" class="thumbborder" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/23px-Flag_of_Canada_%28Pantone%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/35px-Flag_of_Canada_%28Pantone%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/46px-Flag_of_Canada_%28Pantone%29.svg.png 2x" width="23"/></a></span> <a href="/wiki/Edmonton" title="Edmonton">Edmonton</a>
</td>
<td>3.7%
</td>
<td>1.0%
</td>
<td>11.3%
</td>
<td>84%
</td>
<td>2016
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Germany" title="Germany"><img alt="Germany" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x" width="23"/></a></span> <a href="/wiki/Hamburg" title="Hamburg">Hamburg</a></td>
<td>27%</td>
<td>15%</td>
<td>22%</td>
<td>36%</td>
<td>2017<sup class="reference" id="cite_ref-19"><a href="#cite_note-19">[19]</a></sup>
</td>
<td>
</td></tr>
<tr>
<td><span class="flagicon"><a href="/wiki/Finland" title="Finland"><img alt="Finland" class="thumbborder" data-file-height="1100" data-file-width="1800" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Finland.svg/23px-Flag_of_Finland.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Finland.svg/35px-Flag_of_Finland.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Finland.svg/46px-Flag_of_Finland.svg.png 2x" width="23"/></a></span> <a href="/wiki/Helsinki" title="Helsinki">Helsinki</a></td>
<td>29%</td>
<td>9%</td>
<td>22%</td>
<td>39%</td>
<td>2018<sup class="reference" id="cite_ref-20"><a href="#cite_note-20">[20]</a></sup>
</td>
<td>
</td></tr>
<tr>

In [51]:
df_modal=pd.read_html(str(modaltable))
# convert list to dataframe
df_modal=pd.DataFrame(df_modal[0])
print(df_modal.head())

  Metro area walking cycling public transport private motor vehicle  \
0   Adelaide      3%      1%              11%                   85%
1    Atlanta      1%      0%               3%                   86%
2     Athens      8%      2%              37%                   53%
3   Auckland      4%      1%               9%                   85%
4  Baltimore      3%      0%               7%                   84%

           year Survey Area
0       2016[4]       GCCSA
1       2016[5]          UA
2      2006 [6]         NaN
3  2011–2014[7]         MUA
4       2016[8]          UA

In [52]:
df_modal.drop(['year', 'Survey Area'], axis = 1, inplace = True)

df_modal

## Dropping the cities we don't need

In [53]:
df_modal.index=df_modal.iloc[:,0]

df_modal.rename_axis(None,inplace=True)

df_modal.drop(['Metro area',], axis = 1, inplace = True) 

df_modal.head()

          walking cycling public transport private motor vehicle
Adelaide       3%      1%              11%                   85%
Atlanta        1%      0%               3%                   86%
Athens         8%      2%              37%                   53%
Auckland       4%      1%               9%                   85%
Baltimore      3%      0%               7%                   84%

In [54]:
df_modal

                 walking cycling public transport private motor vehicle
Adelaide              3%      1%              11%                   85%
Atlanta               1%      0%               3%                   86%
Athens                8%      2%              37%                   53%
Auckland              4%      1%               9%                   85%
Baltimore             3%      0%               7%                   84%
Barcelona            32%      2%              39%                   27%
Beijing              21%     32%              26%                   21%
Belgrade             23%      1%              49%                   27%
Berlin               30%     18%              27%                   26%
Brisbane              4%      1%              14%                   81%
Brussels             25%    2.5%              28%                   43%
Bogota               15%      2%              64%                   19%
Boston                5%      1%              14%                   73%
Budapest             32%      1%              47%                   20%
Calgary             4.7%    1.5%            14.4%                 79.4%
Chicago               3%      1%              13%                   77%
Cologne               7%     15%              28%                   50%
Dallas                1%      0%               2%                   90%
Daejeon              26%      2%              28%                   44%
Delhi                21%     12%              48%                   19%
Detroit               1%      0%               2%                   92%
Dublin               18%      7%              15%                   59%
Edmonton            3.7%    1.0%            11.3%                   84%
Hamburg              27%     15%              22%                   36%
Helsinki             29%      9%              22%                   39%
Hong Kong            11%    0.5%              77%                   12%
Houston               1%      0%               2%                   91%
Indianapolis          1%      0%               1%                   91%
Jakarta               1%    0.2%              20%                  78%*
Kuala Lumpur        6.6%    0.9%            36.8%                 48.3%
Las Vegas             1%      0%               4%                   90%
London               24%      2%              37%                   37%
Los Angeles           3%      1%               5%                   85%
Madrid               34%    0.5%              25%                   40%
Manila                9%      2%              44%                   45%
Melbourne             4%      2%              19%                   76%
Miami                 2%      1%               4%                   87%
Milan                18%     10%              41%                   29%
Minsk                13%      1%              63%                   20%
Montreal              5%      2%              22%                   70%
Mumbai               27%      6%              52%                   15%
Munich               24%     18%              24%                   34%
New York City        28%      3%              31%                   32%
Osaka                 7%     19%              61%                   13%
Ottawa                8%      2%              18%                   72%
Paris                15%      5%              59%                   20%
Perth                 3%      1%              12%                   84%
Philadelphia          4%      1%              10%                   80%
Phoenix               2%      1%               2%                   87%
Portland              3%      3%               7%                   78%
Prague               22%    0.4%              52%                   25%
Rio de Janeiro       29%      3%              43%                   25%
Rome                  4%      1%              29%                   66%
San Antonio           2%      0%               3%                   90%
San Diego             3%      1%               3%                   85%
San Francisco         5%      2%              20%                   64%
San Jose              2%      2%               5%                   84%
Santiago           34.5%      4%            29.6%                 25.7%
São Paulo            32%      1%              36%                   31%
Seattle               4%      1%              10%                   77%
Seoul                NaN      4%              66%                   23%
Shanghai             27%     20%              33%                   20%
Singapore            22%      1%              44%                   33%
Sofia                NaN     NaN           73%[a]                   27%
Sydney                5%      1%              27%                   67%
Taipei               13%      4%              43%                   40%
Tokyo                23%     14%              51%                   12%
Toronto               5%      1%              24%                   68%
Vancouver             7%      2%              20%                   69%
Vienna               26%      7%              39%                   28%
Warsaw               18%      3%              47%                   32%
Washington, D.C.      4%      1%              16%                   72%

In [55]:
df_modal_new=df_modal.drop(['Adelaide','Atlanta','Auckland','Baltimore','Beijing','Barcelona','Beijing',
                            'Belgrade','Brisbane','Bogota','Boston','Calgary','Chicago','Cologne',
                            'Dallas','Daejeon','Delhi',
                            'Detroit','Edmonton','Hamburg','Hong Kong','Houston',
                            'Indianapolis','Kuala Lumpur','Las Vegas','Los Angeles',
                            'Manila','Jakarta','Melbourne','Miami','Minsk','Montreal',
                            'Mumbai','Munich','New York City','Osaka','Ottawa','Perth','Philadelphia',
                            'Phoenix','Portland','Prague','Rio de Janeiro','San Antonio','Milan','San Antonio',
                            'San Diego','Sofia','San Francisco','San Jose','Santiago','São Paulo','Seattle','Seoul',
                            'Shanghai','Singapore','Sydney','Taipei','Tokyo','Toronto','Vancouver','Washington, D.C.'])

In [56]:
df_modal_new

         walking cycling public transport private motor vehicle
Athens        8%      2%              37%                   53%
Berlin       30%     18%              27%                   26%
Brussels     25%    2.5%              28%                   43%
Budapest     32%      1%              47%                   20%
Dublin       18%      7%              15%                   59%
Helsinki     29%      9%              22%                   39%
London       24%      2%              37%                   37%
Madrid       34%    0.5%              25%                   40%
Paris        15%      5%              59%                   20%
Rome          4%      1%              29%                   66%
Vienna       26%      7%              39%                   28%
Warsaw       18%      3%              47%                   32%

In [57]:
# exporting the modal_df to treat in tableau
df_modal_new.to_csv(r'/Users/vonate/Documents/Github/Ironhack/final_project/data/df_modal_new.csv')

# Weather

- We are importing historical data from 2010 to 2017 to see the conditions on the four cities we are analyzing

## Berlin historical weather

In [63]:
berlin_weather = pd.read_excel (r'/Users/vonate/Documents/Github/Ironhack/final_project/data/Weather data/Berlin-weather-2010-2017.xlsx') 
berlin_weather.head()

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,HEATINDEX_MAX_C,DEWPOINT_MAX_C,WINDTEMP_MAX_C,WEATHER_CODE_MORNING,WEATHER_CODE_NOON,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION
0,2010-01-01,-1,-2,19,-3,-1,-3,1.5,94,4.00,...,0,0,-8,143,122,143,1.2,1,2.9,météo très défavorable
1,2010-01-02,-1,-2,15,-2,-1,-3,3.1,98,4.75,...,0,0,-7,260,143,122,2.7,1,3.0,météo très défavorable
2,2010-01-03,-4,-8,9,-9,-4,-15,0.2,99,2375.00,...,0,0,-11,260,143,260,0.1,1,7.9,météo très défavorable
3,2010-01-04,-6,-10,12,-17,-6,-10,0.0,99,1.25,...,0,0,-14,260,260,260,0.0,1,3.0,météo très défavorable
4,2010-01-05,-6,-8,11,-7,-6,-8,0.0,97,1.75,...,0,0,-13,260,116,260,0.0,1,7.9,météo très défavorable

In [64]:
berlin_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    2922 non-null   datetime64[ns]
 1   MAX_TEMPERATURE_C       2922 non-null   int64
 2   MIN_TEMPERATURE_C       2922 non-null   int64
 3   WINDSPEED_MAX_KMH       2922 non-null   int64
 4   TEMPERATURE_MORNING_C   2922 non-null   int64
 5   TEMPERATURE_NOON_C      2922 non-null   int64
 6   TEMPERATURE_EVENING_C   2922 non-null   int64
 7   PRECIP_TOTAL_DAY_MM     2922 non-null   float64
 8   HUMIDITY_MAX_PERCENT    2922 non-null   int64
 9   VISIBILITY_AVG_KM       2922 non-null   float64
 10  PRESSURE_MAX_MB         2922 non-null   int64
 11  CLOUDCOVER_AVG_PERCENT  2922 non-null   float64
 12  HEATINDEX_MAX_C         2922 non-null   int64
 13  DEWPOINT_MAX_C          2922 non-null   int64
 14  WINDTEMP_MAX_C          2922 non-null   int64
 15  WEATHER_CODE_MORNING    2922 non-null   int64
 16  WEATHER_CODE_NOON       2922 non-null   int64
 17  WEATHER_CODE_EVENING    2922 non-null   int64
 18  TOTAL_SNOW_MM           2922 non-null   float64
 19  UV_INDEX                2922 non-null   int64
 20  SUNHOUR                 2922 non-null   float64
 21  OPINION                 2922 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(15), object(1)
memory usage: 502.3+ KB

## Rome historical weather

In [65]:
rome_weather = pd.read_excel (r'/Users/vonate/Documents/Github/Ironhack/final_project/data/Weather data/Rome-weather-2010-2017.xlsx') 
rome_weather.head()

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,HEATINDEX_MAX_C,DEWPOINT_MAX_C,WINDTEMP_MAX_C,WEATHER_CODE_MORNING,WEATHER_CODE_NOON,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION
0,2010-01-01,14,10,39,12,11,10,15.0,85,8125.0,...,14,12,6,200,200,200,0.0,1,5.2,météo défavorable
1,2010-01-02,13,11,30,10,13,9,7.4,76,9.5,...,13,9,8,200,113,113,0.0,1,8.7,météo correcte
2,2010-01-03,8,7,19,5,8,4,0.0,71,10.0,...,9,2,4,113,113,113,0.0,1,8.7,météo très défavorable
3,2010-01-04,8,5,24,5,7,8,1.6,90,9875.0,...,9,7,2,122,116,119,0.0,1,5.2,météo très défavorable
4,2010-01-05,12,11,27,10,11,12,7.4,93,9.5,...,12,11,9,119,122,122,0.0,1,3.4,météo défavorable

In [66]:
rome_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    2922 non-null   datetime64[ns]
 1   MAX_TEMPERATURE_C       2922 non-null   int64
 2   MIN_TEMPERATURE_C       2922 non-null   int64
 3   WINDSPEED_MAX_KMH       2922 non-null   int64
 4   TEMPERATURE_MORNING_C   2922 non-null   int64
 5   TEMPERATURE_NOON_C      2922 non-null   int64
 6   TEMPERATURE_EVENING_C   2922 non-null   int64
 7   PRECIP_TOTAL_DAY_MM     2922 non-null   float64
 8   HUMIDITY_MAX_PERCENT    2922 non-null   int64
 9   VISIBILITY_AVG_KM       2922 non-null   float64
 10  PRESSURE_MAX_MB         2922 non-null   int64
 11  CLOUDCOVER_AVG_PERCENT  2922 non-null   float64
 12  HEATINDEX_MAX_C         2922 non-null   int64
 13  DEWPOINT_MAX_C          2922 non-null   int64
 14  WINDTEMP_MAX_C          2922 non-null   int64
 15  WEATHER_CODE_MORNING    2922 non-null   int64
 16  WEATHER_CODE_NOON       2922 non-null   int64
 17  WEATHER_CODE_EVENING    2922 non-null   int64
 18  TOTAL_SNOW_MM           2922 non-null   float64
 19  UV_INDEX                2922 non-null   int64
 20  SUNHOUR                 2922 non-null   float64
 21  OPINION                 2922 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(15), object(1)
memory usage: 502.3+ KB

## Budapest historical weather

In [68]:
budapest_weather = pd.read_excel (r'/Users/vonate/Documents/Github/Ironhack/final_project/data/Weather data/Budapest-weather-2010-2017.xlsx') 
budapest_weather.head()

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,HEATINDEX_MAX_C,DEWPOINT_MAX_C,WINDTEMP_MAX_C,WEATHER_CODE_MORNING,WEATHER_CODE_NOON,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION
0,2010-01-01,6,5,12,4,6,4,0.8,93,4.75,...,6,6,3,143,116,143,0.0,1,6.9,météo très défavorable
1,2010-01-02,3,2,33,1,3,0,1.6,88,4.50,...,3,2,-4,143,119,122,0.0,1,3.3,météo très défavorable
2,2010-01-03,-1,-2,31,-2,-1,-3,1.7,82,7.50,...,0,0,-9,122,122,116,0.0,1,3.3,météo très défavorable
3,2010-01-04,-3,-5,15,-7,-3,-6,0.0,86,10.00,...,0,0,-10,113,113,122,0.0,1,8.7,météo très défavorable
4,2010-01-05,-3,-5,18,-5,-3,-3,1.1,94,7125.00,...,0,0,-9,122,122,122,1.0,1,3.3,météo très défavorable

In [69]:
budapest_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    2922 non-null   datetime64[ns]
 1   MAX_TEMPERATURE_C       2922 non-null   int64
 2   MIN_TEMPERATURE_C       2922 non-null   int64
 3   WINDSPEED_MAX_KMH       2922 non-null   int64
 4   TEMPERATURE_MORNING_C   2922 non-null   int64
 5   TEMPERATURE_NOON_C      2922 non-null   int64
 6   TEMPERATURE_EVENING_C   2922 non-null   int64
 7   PRECIP_TOTAL_DAY_MM     2922 non-null   float64
 8   HUMIDITY_MAX_PERCENT    2922 non-null   int64
 9   VISIBILITY_AVG_KM       2922 non-null   float64
 10  PRESSURE_MAX_MB         2922 non-null   int64
 11  CLOUDCOVER_AVG_PERCENT  2922 non-null   float64
 12  HEATINDEX_MAX_C         2922 non-null   int64
 13  DEWPOINT_MAX_C          2922 non-null   int64
 14  WINDTEMP_MAX_C          2922 non-null   int64
 15  WEATHER_CODE_MORNING    2922 non-null   int64
 16  WEATHER_CODE_NOON       2922 non-null   int64
 17  WEATHER_CODE_EVENING    2922 non-null   int64
 18  TOTAL_SNOW_MM           2922 non-null   float64
 19  UV_INDEX                2922 non-null   int64
 20  SUNHOUR                 2922 non-null   float64
 21  OPINION                 2922 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(15), object(1)
memory usage: 502.3+ KB

## Vienna historical weather

In [70]:
vienna_weather = pd.read_excel (r'/Users/vonate/Documents/Github/Ironhack/final_project/data/Weather data/Vienna-weather-2010-2017.xlsx') 
vienna_weather.head()

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C,TEMPERATURE_NOON_C,TEMPERATURE_EVENING_C,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,HEATINDEX_MAX_C,DEWPOINT_MAX_C,WINDTEMP_MAX_C,WEATHER_CODE_MORNING,WEATHER_CODE_NOON,WEATHER_CODE_EVENING,TOTAL_SNOW_MM,UV_INDEX,SUNHOUR,OPINION
0,2010-01-01,6,3,8,1,6,1,0.0,96,3.00,...,6,4,1,248,116,248,0.0,1,8.7,météo très défavorable
1,2010-01-02,3,-1,30,1,1,-2,0.2,86,7.75,...,3,2,-7,122,119,119,0.0,1,3.3,météo très défavorable
2,2010-01-03,0,-2,26,-3,0,-4,0.0,66,10.00,...,0,0,-8,116,119,116,0.0,1,6.9,météo très défavorable
3,2010-01-04,-1,-4,14,-5,-1,-5,0.0,75,10.00,...,0,0,-9,116,113,113,0.0,2,8.7,météo très défavorable
4,2010-01-05,-3,-4,18,-5,-3,-3,0.0,89,7.00,...,0,0,-9,143,122,122,0.0,1,3.3,météo très défavorable

In [71]:
vienna_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    2922 non-null   datetime64[ns]
 1   MAX_TEMPERATURE_C       2922 non-null   int64
 2   MIN_TEMPERATURE_C       2922 non-null   int64
 3   WINDSPEED_MAX_KMH       2922 non-null   int64
 4   TEMPERATURE_MORNING_C   2922 non-null   int64
 5   TEMPERATURE_NOON_C      2922 non-null   int64
 6   TEMPERATURE_EVENING_C   2922 non-null   int64
 7   PRECIP_TOTAL_DAY_MM     2922 non-null   float64
 8   HUMIDITY_MAX_PERCENT    2922 non-null   int64
 9   VISIBILITY_AVG_KM       2922 non-null   float64
 10  PRESSURE_MAX_MB         2922 non-null   int64
 11  CLOUDCOVER_AVG_PERCENT  2922 non-null   float64
 12  HEATINDEX_MAX_C         2922 non-null   int64
 13  DEWPOINT_MAX_C          2922 non-null   int64
 14  WINDTEMP_MAX_C          2922 non-null   int64
 15  WEATHER_CODE_MORNING    2922 non-null   int64
 16  WEATHER_CODE_NOON       2922 non-null   int64
 17  WEATHER_CODE_EVENING    2922 non-null   int64
 18  TOTAL_SNOW_MM           2922 non-null   float64
 19  UV_INDEX                2922 non-null   int64
 20  SUNHOUR                 2922 non-null   float64
 21  OPINION                 2922 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(15), object(1)
memory usage: 502.3+ KB